@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>@UrlUtilities.URLFriendly("Akdeniz")</h2>
<h2>@UrlUtilities.URLFriendly("Güneydoğu Anadolu")</h2>
<h2>@UrlUtilities.URLFriendly("Iğdır")</h2>
<h2>@UrlUtilities.URLFriendly("Düzce")</h2>
<h2>@UrlUtilities.URLFriendly("Kırşehir")</h2>
