@model Sehir
@{
    ViewBag.Title = Model.SehirAd + " Hakkında Bilgi";
}

<h1>@Model.SehirAd</h1>
<dl>
    <dt>Plaka</dt>
    <dd>@Model.Id.ToString("00")</dd>
    <dt>Nüfusu</dt>
    <dd>@Model.Nufus.ToString("n0")</dd>
    <dt>Bölgesi</dt>
    <dd>@Model.Bolge.BolgeAd</dd>
</dl>

<a asp-action="BolgeBilgi" asp-route-slug="@Model.Bolge.Slug" class="btn btn-primary mt-2">&larr; Bölgeye Dön</a>